# Plotting with matplotlib and seaborn

Before we approach plotting routines in python, we introduce a couple of different python related tools and packages.

### Jupyter notebooks

Spin off from the [IPython](https://ipython.readthedocs.io/en/stable/) project. Jupyter enables interactive programming for Julia, Python and R (JuPytR).
Enables a mixture of documentation, code, and results to appear in the same page.

Pros:
* Great for documentation
* Easy way to dessiminate ideas
* Quick results

Cons:
* Unlike a script a notebook is not executed in one run from a terminal (hard to automate)
* Hard to version control

I.e. great for use-once code, or documentation, but not for production code.

Install: `$ pip install jupyterlab`

Run by issuing `$ jupyter-lab`

We can define and print variables like this

In [3]:
a=10
print(a)

10

In [4]:
a="kalle"

In [5]:
print(a)

kalle

# Here is my notebook
I can do maths or chemistry inside it $H_2O$.

### Numpy

Numpy enambles vector and matrix calculations for python. 

Many matrix operations are as fast in numpy as in C or C++.

Example, to solve the equation system Ax=b
```python
import numpy as np

A=np.array([[3,1],[1,2]])
b=np.array([9,8])
x=np.linalg.solve(A,b)
```

In [6]:
import numpy as np

A=np.array([[3,1],[1,2]])
b=np.array([9,8])
x=np.linalg.solve(A,b)

In [9]:
b

array([9, 8])

In [10]:
import numpy as np

In [13]:
np.arange(12).reshape(3,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

### Pandas

Package that handles tabular data in python. The package emulates the data frame class of R.

An example, where we define a DataFrame from scratch:

```
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
df.to_markdown()
```
|    | Name   |   Age |
|---:|:-------|------:|
|  0 | Alex   |    10 |
|  1 | Bob    |    12 |
|  2 | Clarke |    13 |

In [14]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])

In [16]:
df.to_markdown()

'|    | Name   |   Age |\n|---:|:-------|------:|\n|  0 | Alex   |    10 |\n|  1 | Bob    |    12 |\n|  2 | Clarke |    13 |'

|    | Name   |   Age |
|---:|:-------|------:|
|  0 | Alex   |    10 |
|  1 | Bob    |    12 |
|  2 | Clarke |    13 |

Seaborn has several datasets available for your amusment. They can be listed using `seaborn.get_dataset_names()`.

In [42]:
sns.get_dataset_names()

/home/lukask/anaconda3/envs/abi/lib/python3.8/site-packages/seaborn/utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file /home/lukask/anaconda3/envs/abi/lib/python3.8/site-packages/seaborn/utils.py. To get rid of this warning, pass the additional argument 'features="html.parser"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [41]:
import pandas as pd
import seaborn as sns

In [18]:
tips = sns.load_dataset("tips")

In [19]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [20]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [32]:
tips.loc[tips["sex"]=="Female"].describe().loc["25%"]

total_bill    12.75
tip            2.00
size           2.00
Name: 25%, dtype: float64

In [33]:
tips["tip_rate"]=tips["tip"]/tips["total_bill"]

In [35]:
tips.describe()

       total_bill         tip        size    tip_rate
count  244.000000  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672    0.160803
std      8.902412    1.383638    0.951100    0.061072
min      3.070000    1.000000    1.000000    0.035638
25%     13.347500    2.000000    2.000000    0.129127
50%     17.795000    2.900000    2.000000    0.154770
75%     24.127500    3.562500    3.000000    0.191475
max     50.810000   10.000000    6.000000    0.710345

# wide to long

Here is some code that could be used for converting wide to long DataFrame

In [36]:
import pandas as pd
import numpy as np
 
#Create a DataFrame
d = {
    'countries':['A','B','C'],
    'population_in_million':[100,200,120],
    'gdp_percapita':[2000,7000,15000]
    }
 
df = pd.DataFrame(d,columns=['countries','population_in_million','gdp_percapita'])
df

  countries  population_in_million  gdp_percapita
0         A                    100           2000
1         B                    200           7000
2         C                    120          15000

In [37]:
df2=pd.melt(df,id_vars=['countries'],var_name='metrics', value_name='values')
df2

  countries                metrics  values
0         A  population_in_million     100
1         B  population_in_million     200
2         C  population_in_million     120
3         A          gdp_percapita    2000
4         B          gdp_percapita    7000
5         C          gdp_percapita   15000

# long to wide
Here is some code that could be used for converting long to wide DataFrame

In [38]:
raw_data = {'patient': [1, 1, 1, 2, 2], 
        'obs': [1, 2, 3, 1, 2], 
        'treatment': [0, 1, 0, 1, 0],
        'score': [6252, 24243, 2345, 2342, 23525]} 
df = pd.DataFrame(raw_data, columns = ['patient', 'obs', 'treatment', 'score'])
df

   patient  obs  treatment  score
0        1    1          0   6252
1        1    2          1  24243
2        1    3          0   2345
3        2    1          1   2342
4        2    2          0  23525

In [39]:
df.pivot(index='patient', columns='obs', values='score')

obs           1        2       3
patient
1        6252.0  24243.0  2345.0
2        2342.0  23525.0     NaN

# executing external commands
Begin the row with an exclamation mark (!)

In [44]:
!wget https://opendata.ecdc.europa.eu/covid19/casedistribution/csv -O covid19.csv --no-check-certificate

--2021-06-17 10:26:07--  https://opendata.ecdc.europa.eu/covid19/casedistribution/csv
Resolving opendata.ecdc.europa.eu (opendata.ecdc.europa.eu)... 88.131.255.63
Connecting to opendata.ecdc.europa.eu (opendata.ecdc.europa.eu)|88.131.255.63|:443... connected.
WARNING: cannot verify opendata.ecdc.europa.eu's certificate, issued by ‘CN=GlobalSign RSA OV SSL CA 2018,O=GlobalSign nv-sa,C=BE’:
  Unable to locally verify the issuer's authority.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://opendata.ecdc.europa.eu/covid19/casedistribution/csv/ [following]
--2021-06-17 10:26:07--  https://opendata.ecdc.europa.eu/covid19/casedistribution/csv/
Reusing existing connection to opendata.ecdc.europa.eu:443.
HTTP request sent, awaiting response... 200 OK
Length: 4307302 (4,1M) [application/octet-stream]
Saving to: ‘covid19.csv’

covid19.csv         100%[===================>]   4,11M   545KB/s    in 5,5s

2021-06-17 10:26:13 (764 KB/s) - ‘covid19.csv’ saved [4307302/4307302]

In [46]:
df = pd.read_csv("covid19.csv")

In [49]:
df.describe()

,day,month,year,cases,deaths,popData2019,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
count,61900.000000,61900.000000,61900.000000,61900.000000,61900.000000,6.177700e+04,59021.000000
mean,15.628934,7.067157,2019.998918,1155.147237,26.055460,4.098770e+07,66.320586
std,8.841582,2.954776,0.032882,6779.224479,131.227055,1.531294e+08,162.329240
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02,-147.419587
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.293120e+06,0.757526
50%,15.000000,7.000000,2020.000000,15.000000,0.000000,7.169456e+06,6.724045
75%,23.000000,10.000000,2020.000000,273.000000,4.000000,2.851583e+07,52.572719
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09,1900.836210